* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main{
    display: flex;
    flex-direction: column;
}

#nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #fff;
  background-color: salmon;
  height: 50px;
  align-items: center;
    
}

.nav-list{
    display: flex;
}


#nav-container > ul > li {
    padding: 0px 16px;
}

.nav-item {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}