
.wrapper {
  height: calc(100vh - 60px);
  @apply flex justify-center;
}

.login-box {
  width: 400px;
  padding: 40px;
  background: rgb(0, 0, 0);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  height: 50%;
  margin-top: 200px;
}

.login-box h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  margin: 0 0 30px;
  padding: 0;
  color:#ffffff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

Input{
  margin-top: 5px;
  padding: 10px;
}
.login-box .user-box label {
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #26EAF6;
}

.login-box button {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500; 
  width:  auto;
  border-radius:  20px; 
  text-align:  center; 
  padding:  15px 25px;
  background-color:  #f5f5f5; 
  color:  rgb(28, 221, 228); 
  transition:  all .3s ease; 
  &:hover {
    transform:  translateY(-3px);
    &:active {
      transform:  scale(.99);
    }
  }
}

