
.wrapper {
    height: calc(100vh - 60px);
    @apply flex justify-center;
    background-image: url(./bg-01.jpg);
    opacity: 0.8;
  }
  
  .signup-box {
    width: 400px;
    padding: 50px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    height: 68%;
    margin-top: 120px;
  }
  
  .signup-box h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    margin: 0 0 10px;
    color:rgb(24, 0, 245);
    text-align: center;
  }
  
  .signup-box .user-box {
    position: relative;
    padding: 5px;
  }
  .signup-box .user-box label {
    top: 0;
    left: 0;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 10px;
    color: #000;
  }
  
  .signup-box button {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 600; 
    right: 0;
    width:  auto;
    border-radius:  20px; 
    text-align:  center; 
    padding:  10px 25px;
    background-color:  #bfecf0; 
    color:  rgb(28, 75, 228); 
    transition:  all .3s ease; 
    &:hover {
      transform:  translateY(-3px);
      &:active {
        transform:  scale(.99);
      }
    }
  }
  
  
  
  
  
  