.header{
  height: 60px;
  width: 100%;
  @apply bg-blue-400 flex justify-between;
}

.nav-item {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 15px;
  // color: #fff;
  padding: 10px;
}

.nav > img :hover .button {
  visibility: visible;
}