@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#main {
  display: flex;
  flex-direction: column;
}

#nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #fff;
  background-color: salmon;
  height: 50px;
  align-items: center;

}

.nav-list {
  display: flex;
}


#nav-container > ul > li {
  padding: 0px 16px;
}

.nav-item {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

#slider {
  width: 100%;
  min-height: 300px;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  //background-image: url('src/assets/img/background1.jpg');
  position: relative;
}

.slider-content {
  margin-bottom: 200px;
  text-align: center;
}


/* Search bar  */
.search-container {
  width: 300px;
  height: 100px;
}

.search-container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  /* box-shadow: 0 0 25px 0 crimson; */
}

.search-containerr .search:hover {
  cursor: pointer;
}

.search-container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}

.search-container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}

.search-container input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson,
  0 20px 25px 0 rgba(0, 0, 0, 0.2);
  /* box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5); */
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.search-container input:hover {
  cursor: pointer;
}

.search-container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}

.search-container input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}

.search-container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.search-container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.search-container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}


.slider-content {
  margin-top: 43px;
  font-size: 40px;
  margin-left: 20px;
  color: #fff;
}

/* Content */

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(208, 235, 226);
  margin: 100px;
  margin-top: 20px;
  font-family: sans-serif;
}

.our-model {

}

.content-content {
  width: 100%;
  color: #fff;
  background: linear-gradient(
                  hsl(0 0% 0% / 0),
                  hsl(20 0% 0% / 0.2) 20%,
                  hsl(0 0% 0% / 1));
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
  transition: transform 500ms ease;
  transition-delay: 500ms;
}

.content-item {
  border-radius: 10px;
  position: relative;
  --padding: 24px;
  box-shadow: 4px 4px 4px 4px #645b5b;
  overflow: hidden;

}

.content-list:hover {
  transform: scale(1.05);
  transition: transform 500ms ease;
}

.content-list:hover .content-content {
  transform: translateY(0);
}

.content-list:hover .content-title::after {
  transform: scaleX(1);
}

.content-title {
  font-size: 20px;
  color: #ffffff;
  font-weight: 0.8;
  position: relative;
  width: max-content;
}

.content-title::after {
  content: "";
  background-color: aqua;
  position: absolute;
  width: calc(100% + var(--padding));
  height: 4px;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 500ms ease;
  transform-origin: left;
}


/* Footer */

.footer {
  margin-top: 200px;
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
  